footer.footer
    div(class="footer-top pb-5")
        .container
            .row
                div(class="col-12 col-lg-4")
                    div(class="footer__social-network pr-4 pt-5")
                        span(class="d-block") KÊNH HỆ THỐNG THÔNG TIN TỪ CHÚNG TÔI 
                        +renderListIcon()
                div(class="col-12 col-md-8")
                    div(class="footer__email-input pt-5")
                        .row
                            div(class="col-12 col-lg-3")
                                div(class="footer__email-input-title pr-4 pb-3")
                                    h2 ĐĂNG KÝ NHẬN EMAIL TỪ CHÚNG TÔI
                            div(class="col-12 col-md-9")
                                +renderInput("text","")
    div(class="footer-main py-5")
        .container
            .row
                div(class="col-12 col-md-4")
                    .footer__brand-box
                        h2(class="footer__brand-title text-center")="Green"+" "
                            span Shop
                        span(class="footer__brand-slogan mt-2 d-block text-center") Món quà từ thiên nhiên
                        span(class="d-block footer__brand-des mt-4 pr-4") Green Shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian hoạt động đến nay cửa hàng ngày một phát triển
                        div(class="footer__contact mt-4")
                            address(class="d-flex align-items-center py-2")
                                i(class="fas fa-mobile mr-3")
                                span Điện thoại: (84-4) 66.558.868
                            address(class="d-flex align-items-center py-2")
                                i(class="far fa-envelope mr-3")
                                span Email: info@dkt.com.vn
                                
                div(class="col-12 col-md-8")
                    .row
                        +renderListFooter()
    div(class="footer-bottom pb-3")
        .container
            div(class="d-flex justify-content-between align-items-center flex-wrap")
                +renderFooterBottomList
                +renderFooterBottomVisa
    div(class="footer-copyright py-3 text-center bg-dark")
        span Thiết kế bởi Bizweb 
        i(class="far fa-copyright")           