header(class="header")
    .container
        div(class="header__top d-flex justify-content-between align-items-center p-3")
            div(class="header__time-social d-flex align-items-center")
                div(class="header__time d-flex align-items-center mr-4")
                    i(class="far fa-clock mr-3")
                    span Open time: 
                        time 8:00 - 18:00 Monday - Sunday
                div(class="header__social")
                    +renderListIcon

            