header.header
    .header__top.p-3.bg-dark
        .container.d-flex.justify-content-between.align-items-center
            .header__time-social.d-flex.align-items-center
                .header__time.d-flex.align-items-center.mr-4
                    i.mr-3(class="far fa-clock")
                    span Open time: 
                        time 8:00 - 18:00 Monday - Sunday
                .header__social
                    +listIcon
            .header__login-register.d-flex.align-items-center
                .header__login.mr-4
                    a.header__link-login.d-flex.align-items-center(href="login.html")
                        i.mr-2(class="fas fa-user")
                        span Đăng nhập
                div.header__register
                    a.header__link-register.d-flex.align-items-center(href="register.html")
                        i.mr-2(class="fas fa-user-plus")
                        span Đăng ký
    .header__main.p-3
        .container
            .row.align-items-center.justify-content-center
                .col-12.col-md-6
                    .d-flex.align-items-center.local__brand.justify-content-center
                        div.brand__title
                            h1.brand__name="Green"+" "
                                span Shop
                            span.brand__slogan.mt-3.d-inline-block Món quà từ thiên nhiên
                        .brand__img
                            img(src="./images/pic1.png", alt="img1")
                .col-12.col-md-6.header__info-cart
                    span.d-block.info-help
                        .d-flex.align-items-center
                            i.mr-3(class="fas fa-phone-alt")
                            span HỖ TRỢ: (04) 6674 2332 - (04) 3786 8904
                    .d-flex.align-items-center.justify-content-between.mt-4  
                        .input-group.input__search
                            input.form-control.px-4.rounded-pill#Search(type="search" placeholder="Tìm kiếm ...")
                            .input-group-append
                                button.rounded-pill.px-4.bg-white(type="button")
                                    i(class="fa fa-search")
                        div
                            a.header__cart.d-flex.align-items-center(href="product-cart.html") 
                                i.mr-3(class="fas fa-shopping-basket")
                                span 0 Sản phẩm
    .header__navbar
        .container
            nav.navbar.navbar-expand-lg.navbar-light.py-3
                button.navbar-toggler.navbar__icon(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                    i(class="fas fa-bars text-white")
                span.navbar__icon.mr-4.text-white.navbar-icon__pc(href="#")
                    i(class="fas fa-bars")
                
                //- navbar__pc
                .collapse.navbar-collapse#navbarNav
                    ul.navbar-nav
                        each val in navbarItem
                            +navBar(val.name, val.url, val.isActive, val.isDropDown, val.dropdownList)
                        li.nav-item.nav-item__login-register.active.mr-4.py-3
                            a(class="nav-link text-white", href="login.html") ĐĂNG NHẬP
                        li.nav-item.nav-item__login-register.active.mr-4.py-3
                            a(class="nav-link text-white", href="register.html") ĐĂNG KÍ
                //- navbar__tablet
                ul.menu__tablet.d-flex.align-items-center
                    li.mr-5
                        a.text-white(href="")
                            i(class="fa fa-search")
                    li
                        a.text-white(href="product-cart.html")
                            i(class="fas fa-shopping-cart")
