div.popup-modal
    input#chk_show-popup(type="checkbox", checked)
    label(class="modal modal__receive-email fade show", id="exampleModal", tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true",for="chk_show-popup")
        .modal-dialog
            .modal-content 
                div(class="modal-header d-flex justify-content-end") 
                    label(class="btn btn-close py-0", for="chk_show-popup")
                        i(class="fas fa-times")
                div(class="modal-body pb-5") 
                    .row
                        div(class="col-12 col-md-5")
                            .modal-image
                                img(src="./images/popup.png", alt="")
                        div(class="col-12 col-md-7")
                            .modal-body__content
                                .modal-body-title
                                    span.d-block="Nhận tin tức từ chúng tôi"+" "
                                    span(class="d-block mt-4 title-receive")="NHẬN EMAIL NGAY HÔM NAY"
                                div(class="modal-body-input mt-4")
                                    +renderInput()
                                div(class="modal-body-help mt-4")
                                    span Đăng ký email ngay hôm nay để nhận các thông tin về sự kiện và các chương trình giảm giá từ chúng tôi
                                form.mt-4
                                    div(class="form-group form-check d-flex align-items-center")
                                        label(class="form-check-label pl-2", for="chk_display-noti") Không hiển thị lại thông báo này nữa
                                        input(type="checkbox", class="form-check-input", id="chk_display-noti")
