// slideshow
.carousel-indicators {
    li {
        width: 1.3rem;
        height: 1.3rem;

        &.active {
            background-color: $primary-color;
        }
    }

    img {
        cursor: pointer;
    }
}
