.input-component {
    input,
    textarea {
        font-size: 1.8rem;

        &::placeholder {
            font-size: 1.8rem;
        }
    }

    label {
        font-size: 1.5rem;
        color: $gray-color;
    }

    button.btn {
        font-size: 1.3rem;
        background-color: $primary-color;
        border-color: $primary-color;

        &focus {
            border-color: $primary-color;
        }
    }
}
