.pagination {
    .page-item {
        min-width: 3.2rem;

        &:last-child {
            margin-right: 0 !important;
        }

        &.prev-item,
        &.next-item {
            display: none;
            visibility: hidden;

            @include minWidth($md) {
                display: block;
                visibility: visible;
            }
        }

        &.active {
            a {
                color: white;
                background-color: $primary-color;
                border-color: $primary-color;
            }
        }

        .page-link {
            font-size: 1.2rem;
            color: $primary-color;
        }
    }
}
