section(class="floating-product py-5")
    .container
        div(class="section__title mb-4 pb-3")
            h2 Sản phẩm nổi bật
        .row
            div(class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-4")
                +renderfloatingProduct
                div.row
                    div(class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-4")
                        +renderfloatingProduct("Cây Cọ Ta", false, "./images/spx2-11.png", 4, "200.000","100.000")
                    div(class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-4")
                        +renderfloatingProduct("Cây Dừa Nhỏ", false, "./images/spx2-6.png", 5, "300.000", "100.000")
            div(class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6")
                .row
                    div(class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-4")
                        +renderfloatingProduct("Cây Danh Dự", true, "./images/spx2-5.png", 5, "300.000", "100.000")
                    div(class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-4")
                        +renderfloatingProduct("Cây Đa Búp Đỏ", true, "./images/spx2-15.png", 4.5, "300.000", "100.000")
                .row
                    div(class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-4")
                        +renderfloatingProduct("Cây Đa Búp Đỏ", false, "./images/spx2-3.png", 5, "500.000", "450.000")       

