section.sale-hot-product
    .container
        .row
            div(class="col-12 col-lg-3")
                div(class="section__title mb-4 pb-3")
                    h2 Sản phẩm mua nhiều
                ul(class="hot-product-list mt-3 mb-3")
                    +renderfloatingProductGrid("more")
            div(class="col-12 col-lg-9")
                div(class="section__title mb-4 pb-3 d-flex align-items-center justify-content-between")
                    h2 Sản phẩm khuyến mãi
                    .button-group
                        a(href="",class="ml-3")
                            i(class="fas fa-chevron-circle-left") 
                        a(href="",class="ml-3")
                            i(class="fas fa-chevron-circle-right") 
                .row
                    +renderfloatingProductGrid("sale")
