section.slideshow
    div(id="carouselExampleCaptions", class="carousel slide", data-ride="carousel")
        ol(class="carousel-indicators")
            li(data-target="#carouselExampleCaptions", data-slide-to="0", class="active rounded-circle")
            li(data-target="#carouselExampleCaptions", data-slide-to="1", class="rounded-circle")
            li(data-target="#carouselExampleCaptions", data-slide-to="2", class="rounded-circle")
        .carousel-inner
            div(class="carousel-item active")
                img(src="./images/slide-1920x590.png", class="d-block w-100", alt="slide1")
            .carousel-item
                img(src="./images/slide-1920x590.png", class="d-block w-100", alt="slide2")
            .carousel-item
                img(src="./images/slide-1920x590.png", class="d-block w-100", alt="slide3")