include ../components/list-icon-visa
include ../components/navbar
include ../components/slide-show
include ../components/products
include ../components/banner
include ../components/news
include ../components/popup
include ../components/bread-crumb
include ../components/sidebar
include ../components/input
include ../components/pagination
include ../components/button
include ../components/table
include ../components/tab-panel
include ../components/comment
