html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.btn {
    padding: 0.8rem 2rem;
}

img {
    display: block;
    width: 100%;
}

button,
input {
    box-shadow: none !important;
    outline: none !important;
    border-color: white !important;
    height: 100%;
}

input:focus,
button:focus {
    outline: none !important;
    box-shadow: unset !important;
    border-color: white !important;
}