.section__title {
    font-size: 1.8rem;
    color: $primary-color;
    font-weight: bold;
    border-bottom: solid 1px $gray-color-light;

    .button-group {
        a {
            color: $gray-color;
        }

        i {
            font-size: 1.6rem;
        }
    }

    h2 {
        position: relative;
        width: fit-content;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 3px;
            background-color: $primary-color;
            bottom: -1.2rem;
            left: 0;
        }
    }
}

// animation
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
