// color
$primary-color: #3fb871;
$silver-color: silver;
$dark-gray-color: #35322d;
$gray-color: gray;
$gray-color-light: rgba(128, 128, 128, 0.349);
$bg-dark: #212529;
$bg-dark-light: #21252941;
$color-orange: orange;
$color-red: red;
$color-facebook: #4267b2;
$color-google: #db4437;
$color-twitter: #1da1f2;
$color-share: #ff5a5f;

// font
$ballet-font: "Ballet", cursive;

// breakpoint
$xs: 0px;
$sm: 36em;
$md: 48em;
$lg: 62em;
$xl: 75em;
$xxl: 87.5em;
