section.productList-wrapper {
    .product-list__sidebar {

        .product-category__list {

            .product-category__item {
                color: $gray-color;
                cursor: pointer;
                border-bottom: solid 1px $gray-color-light;

                &:hover {
                    .dropdownCategory {
                        display: block;
                        animation: fadeIn 1s;
                    }
                }
                font-size: 1.5rem;

                a {
                    color: $gray-color;
                }

                i {
                    font-size: 1.1rem;
                }

                .dropdownCategory {
                    display: none;

                    .dropdownCategory__list {
                        font-size: 1.3rem;
                        i {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
        .productlist__color {

            &-item {
                cursor: pointer;

                span.color {
                    width: 4rem;
                    height: 4rem;
                }
                
                span {
                    font-size: 1.3rem;
                }
            }
        }
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
}