extends ../layouts/default-layout

block vars
	-title = 'Hello everyone'
	-bodyClass = 'homepage'
	-des='Đây là project 1'

block container
	include ../partials/homepage/slideshow
	include ../partials/homepage/floatingproduct
	include ../partials/homepage/saleproduct
	include ../partials/homepage/banner
	include ../partials/homepage/newproduct
	include ../partials/homepage/news
	


