extends ../layouts/default-layout
block mixins
	include ../partials/mixins
	include ../partials/breadcrumb
	include ../partials/carouselwithimage
	include ../partials/productdetail/productdetailcontent
	include ../partials/productdetail/productdetailinfo
	include ../partials/button

block vars
	-title = 'Hello everyone'
	-bodyClass = 'productdetail'
	-des='Đây là project 1 productdetail'

block container
	include ../partials/productdetail/productdetailwrapper
	include ../partials/productdetail/productwithcategory
