extends ../layouts/default-layout
block mixins
	include ../partials/mixins
	include ../partials/breadcrumb
	include ../partials/button
	include ../partials/table

block vars
	-title = 'Hello everyone'
	-bodyClass = 'productcart'
	-des='Đây là project 1 productcart'

block container
	include ../partials/cart/cartwrapper
	