section(class="cart-wrapper py-4")
    .container
        +renderBreadCrumb([{name:"Trang chủ", url:"index.html"}, {name:"Giỏ hàng", url:"productcart.html"}])
        div.cart-title(class="py-4")
            h2 GIỎ HÀNG
        +renderTable
        .button-group.mt-4.justify-content-between.d-flex 
            a.btn.btn-white.rounded-pill(href="") HUỶ ĐƠN HÀNG
            a.btn.btn-full.rounded-pill(href="") TIẾP TỤC MUA
        .mt-5(class="d-flex justify-content-end table-medium") 
            +renderTableTotalMoney
        .button-group.mt-4.justify-content-end.d-flex 
            a.btn.btn-full.rounded-pill(href="") THANH TOÁN
