section(class="productList-wrapper py-4")
    .container
        +renderBreadCrumb([{name:"Trang chủ", url:"index.html"}, {name:"Danh sách sản phẩm", url:"productlist.html"}])
        .row
            div(class="col-12 col-md-4 col-lg-3")
                div(class="product-list__sidebar mt-4")
                    .row
                        div(class="col-12")
                            .product__category
                                div(class="section__title mb-4 pb-3")
                                    h2 Danh mục sản phẩm
                                +renderProductCategory
                                    
                        div(class="col-12")
                            div(class="product__category mt-5")
                                div(class="section__title mb-4 pb-3")
                                    h2 Tìm theo giá
                                +renderFindPrice
                        div(class="col-12")
                            div(class="product__category mt-5")
                                div(class="section__title mb-4 pb-3")
                                    h2 Tìm theo màu
                                div.productlist__color
                                    ul(class="productlist__color-list d-flex align-items-center flex-wrap")
                                        +renderProductListColor()
            div(class="col-12 col-md-8 col-lg-9")
                div(class="productlist-banner mt-4")
                    img(src="./images/bannerproductlist.png", alt="")
                div(class="productlist__tab-panel py-3 d-flex align-items-center justify-content-between flex-wrap")
                    div(class="btn-group nav nav-pills", role="tablist", aria-label="Basic mixed styles example",id="list-tab")
                        button(type="button", class="btn p-0 mr-4 active",id="pills-listproduct-grid-tab", data-toggle="pill", href="#pills-grid", role="tab", aria-controls="pills-grid", aria-selected="true")
                            i(class="fas fa-th")
                        button(type="button", class="btn p-0 mr-4", id="pills-listproduct-list-tab", data-toggle="pill", href="#pills-list", role="tab", aria-controls="pills-list", aria-selected="true")
                            i(class="fas fa-th-list")
                    div(class="productlist-filter")
                        form(class="form-inline")
                            +renderSelectForm
                            +renderSelectForm("Show","showCount", true, 15)
                div(class="tab-content", id="pills-tabContent")
                    div(class="productlist-content__grid tab-pane fade show active", id="pills-grid" role="tabpanel", aria-labelledby="pills-listproduct-grid-tab")
                        .row
                            +renderfloatingProductGrid("sale")
                    div(class="productlist-content__list tab-pane fade show", id="pills-list" role="tabpanel", aria-labelledby="pills-listproduct-list-tab")
                        .row
                            +renderfloatingProductList()
                div(class="d-flex justify-content-end mt-4")
                    +renderPagination