section(class="productdetail-wrapper py-4")
    .container 
        +renderBreadCrumb([{name:"Trang chủ", url:"index.html"}, {name:"Cây dạ lam", url:"index.html"}])
        .row 
            div(class="col-12 col-md-6 col-lg-5")
                +renderCarouselImage